<div class="row">
    <div class="column" id="detail">
        <h3>
          
            {{ food.food.name }}
        </h3>
        <p>
          {{ food.food.description }}
        </p>
        <img id="main" src={{food.food.images}}>
        <h4> {{ food.food.price }} $ <span style="color:black;"> 
             </span> 
             </h4>
             <p *ngIf="food.food.rating" class="item_rating">
              <i class="material-icons">Rating</i>
              {{ food.food.rating }} / 10
          </p>
          <h2>Ingredients</h2>
          <span > {{food.food.ingredients}}</span>  
      </div>
      
    
    <div class="column" id="admin">
      <h3>Panel for Admin</h3>
      <div>
        <button id="b" (click)="edit(name.value, price.value, description.value, ingredients.value, food.food.id)">Edit</button>
        <button id="b" (click)="cancel(food.food.id)">Cancel</button>
      </div>
      <label for="name">Name:</label>
      <input #name id="name" [(ngModel)]="food.food.name" value="{{food.food.name}}"/>
      <label for="price">Price:</label>
      <input #price id="price" [(ngModel)]="food.food.price" value="{{food.food.price}}"/>
      <label for="description">Description:</label>
      <input #description id="description" [(ngModel)]="food.food.description" value="{{food.food.description}}"/>
      <label for="ingredients">Ingredients:</label>
      <input #ingredients id="ingredients" [(ngModel)]="food.food.ingredients" value="{{food.food.ingredients}}"/>
      
    </div>
  </div>
  
 
  <button id ="b"(click)="goBack()">go back</button>