<div class="row">
    <div class="column">
        <h3>
          
            {{ food.food.name }}
        </h3>
        <p>
          {{ food.food.description }}
        </p>
        <img id="main" src={{food.food.images}}>
        <h4> {{ food.food.price }} $ <span style="color:black;"> 
             </span> 
             </h4>
             <p *ngIf="food.food.rating" class="item_rating">
              <i class="material-icons">Rating</i>
              {{ food.food.rating }} / 10
          </p>
         
      </div>
      
    <div class="column">
    <div class="akw">
      <label class="on">Ingredients:
        <input [(ngModel)]="food.food.ingredients" placeholder="ingredients"/>
      </label>
    </div>
    </div>
  </div>
  
 
  <button id ="b"(click)="goBack()">go back</button>