.product-item {
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-evenly;
    cursor: pointer;
    display: grid;
    justify-content: center;
  }
  .product-item img {
    display: grid;
    min-width: 100%;
    justify-self: center;
    height: 300px;
    border-radius: 5px;
  }
  h2 {
    background: #fff;
    padding: 10px 0;
    color: #000;
  }
  .mainDiv{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 2rem;
    margin-top: 1rem;
    padding: 2rem;
  }