.sidenav {
  display: flex;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:wheat; 
    overflow-x: hidden;
    padding-top: 15px;
    text-align: center;
  }
  
  .sidenav a {
    display:flex;
    Justify-content: center;
    background: #ffffff;
    border-radius: 6px;
    padding: 20px 20px 10px 20px;
    text-decoration:none;
    color:black;
    font-size: 30px;
    margin: 1rem 0rem 5rem 4rem;
    
  }
  
  .sidenav a:hover {
    color: black;
  }